* {
  box-sizing: border-box;
}

/**
* Vanilla CSS
*/
html {
  background: white;
  min-height: 100%;
  height: 100%;
}

/***************************************************************************************
* BODY ELEMENTS
***************************************************************************************/
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  color: #111426;
  padding-top: 1px;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  background-size: 100% 200px;
  background-repeat: no-repeat;
  min-height: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid #330000;
  box-shadow: 0 1px 0 0 #fff;
}

/***************************************************************************************
* HEADINGS
***************************************************************************************/
header {
  font-size: 1.2em;
}
header h1 {
  clear: left;
}

/* All Headings */
h1, h2, h3, h4, h5, h6 {
  color: #330000;
  margin: .67em .4em .5em .4em;
  text-shadow: 0 1px 0 #fff;
}

/* Individual Headings */
/***************************************************************************************
* PARAGRAPHS
***************************************************************************************/
/* First Paragraph */
p {
  margin: 1em;
  text-indent: .7em;
}

/* Seccond Paragraph */
abbr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

/* Blockquote */
blockquote {
  margin-left: 2em;
  overflow: hidden;
  border: 1px solid #330000;
  border-left-width: 4em;
  min-height: 5em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
blockquote:before {
  content: '“';
  font-size: 8em;
  position: absolute;
  margin-left: -.45em;
  color: white;
}

/* Third Paragraph */
dfn {
  font-weight: bold;
}

strong {
  color: #111426;
}

/* Quote */
/* Fourth Paragraph */
/***************************************************************************************
* LISTS
***************************************************************************************/
/* All Lists */
/* Definition Lists */
/* Ordered Lists */
/* Unordered Lists */
/***************************************************************************************
* FORMS
***************************************************************************************/
/* Inputs */
/* Other */
/***************************************************************************************
* TABLES
***************************************************************************************/
table {
  width: 96%;
  margin: 1em 2%;
  background: #ffd;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid rgba(51, 0, 0, 0.1);
  color: #111426;
  border-collapse: separate;
  border-spacing: .5em;
}

table .select-all {
  width: 1px;
}

/* Head */
th {
  text-align: left;
  font-style: italic;
  color: #330000;
  border-bottom: 1px solid #330000;
}

/* Body */
td {
  border-bottom: 1px dotted #990000;
}

table .expandable.expanded td {
  border: 0;
}

table .expanded-content {
  background: rgba(0, 0, 0, 0.1);
}

/* Foot */
/***************************************************************************************
* OTHER
***************************************************************************************/
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

.actions {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: .7em;
  padding: 0;
  margin: 0;
  text-align: left;
}
.actions ul {
  font-size: .8rem;
  margin: -2px 0 0 0;
  padding: .3em .6em;
  position: absolute;
  z-index: 100;
  display: none;
  list-style: none;
  border: 1px solid #111426;
  -webkit-border-radius: 0 0.5em 0.5em 0.5em;
  -moz-border-radius: 0 0.5em 0.5em 0.5em;
  -ms-border-radius: 0 0.5em 0.5em 0.5em;
  -o-border-radius: 0 0.5em 0.5em 0.5em;
  border-radius: 0 0.5em 0.5em 0.5em;
  background: #ffffdd;
}
.actions ul li {
  border-top: 1px solid #330000;
  padding: .2em 0;
}
.actions ul li:first-child {
  border-top: 0;
}
.actions i:hover + ul,
.actions ul:hover {
  display: block;
}
.actions .action {
  background: transparent;
  border: 0;
  text-align: left;
  color: #330000;
  white-space: nowrap;
}
.actions .action:hover, .actions .action:active {
  color: #990000;
}
.actions .action:hover {
  color: #990000;
}

.room {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.room .header {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: center;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 1px 0;
  height: auto;
}
.room .header h1:hover .actions {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.room .header .actions {
  display: none;
  position: absolute;
  margin: .3em 0 0 .2em;
}
.room main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.room .users h1,
.room .operations h1 {
  text-align: center;
  font-size: 1.2em;
}
.room .users {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 0 1em;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.room .users .add {
  background: transparent;
  border: 0;
  text-align: left;
}
.room .users .add:hover, .room .users .add:active {
  color: #990000;
}
.room .users .add i {
  margin-right: .2em;
}
.room .users > ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  border-bottom: 1px solid #111426;
}
.room .users > ul > li {
  clear: right;
  white-space: nowrap;
  margin: .5em 0;
}
.room .users > ul > li:hover .actions {
  visibility: visible;
}
.room .users .actions {
  visibility: hidden;
  font-size: 1em;
  vertical-align: baseline;
}
.room .users .editing {
  padding: .3em;
  margin-left: .8em;
  background: #ffffdd;
  border: 1px solid rgba(51, 0, 0, 0.1);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}
.room .users .editing form {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.room .users .editing input[type=text] {
  width: 10em;
}
.room .users .editing .balance {
  display: none;
}
.room .users .editing .confirm-controls {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.room .users .editing .confirm-controls li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.room .users .editing .confirm-controls button {
  background: transparent;
  border: 0;
  text-align: left;
  padding: 0;
}
.room .users .editing .confirm-controls button:hover, .room .users .editing .confirm-controls button:active {
  color: #990000;
}
.room .operations {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.room .operations .operation-actions {
  margin: 0 0 0 2%;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.room .operations .operation-actions > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.room .operations .operation-actions > li:first-child button {
  -webkit-border-radius: 0.2em 0 0 0.2em;
  -moz-border-radius: 0.2em 0 0 0.2em;
  -ms-border-radius: 0.2em 0 0 0.2em;
  -o-border-radius: 0.2em 0 0 0.2em;
  border-radius: 0.2em 0 0 0.2em;
  border-left-width: 1px;
}
.room .operations .operation-actions > li:last-child button {
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  -ms-border-radius: 0 0.2em 0.2em 0;
  -o-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}
.room .operations .operation-actions button {
  background: transparent;
  border: 0;
  text-align: left;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(230, 230, 230, 0.15)));
  background: -webkit-linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  background: -moz-linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  background: -o-linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  background: linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  text-align: center;
  border: 1px solid rgba(51, 0, 0, 0.2);
  border-left-width: 0;
  padding: .3em .8em;
  font-size: 1em;
}
.room .operations .operation-actions button:hover, .room .operations .operation-actions button:active {
  color: #990000;
}
.room .operations .operation-actions button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.room .operations .operation-actions button:active {
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  padding: .4em .8em .2em .8em;
}
.room .operations .operation-actions button:disabled, .room .operations .operation-actions button:disabled:hover, .room .operations .operation-actions button:disabled:active {
  color: #cccccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(230, 230, 230, 0.15)));
  background: -webkit-linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  background: -moz-linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  background: -o-linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  background: linear-gradient(rgba(230, 230, 230, 0.1), rgba(230, 230, 230, 0.15));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: .3em .8em;
  cursor: not-allowed;
}
.room .operations .operation-actions button i {
  margin: 0;
}

.balance.negative {
  color: #e40913;
}
