@import "palette";

body.room {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	.header {
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		text-align: center;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
		padding: 1px 0;
		height: auto;
		h1:hover .actions {
			@include inline-block;
		}
		.actions {
			display: none;
			position: absolute;
		margin: .3em 0 0 .2em;
		}
	}
	main {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.fresh-message {
		font-style: italic;
	}
	.participants,
	.operations {
		h1 {
			text-align: center;
			font-size: 1.4em;
		}
	}
	.participants {
		-webkit-box-flex: 0;
		-moz-box-flex: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		min-width: 15%;
		padding: 0 1em;
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
		.add {
			@include link-button;
			i {
				margin-right: .2em;
			}
		}
		>ul {
			list-style: none;
			margin: 0 0 1em 0;
			padding: 0;
			border-bottom: 1px solid $black;
			>li {
				clear: right;
				white-space: nowrap;
				margin: .5em 0;
				&:hover .actions {
					visibility: visible;
				}
			}
		}
		.actions {
			visibility: hidden;
			font-size: 1em;
			vertical-align: baseline;
		}
		.editing {
			padding: .3em;
			margin-left: .8em;
			background: $yellow;
			border: 1px solid transparentize($brown, .9);
			@include border-radius(.2em);
			input[type=text] {
				width: 100%;
			}
			.balance {
				display: none;
			}
		}

		&.fresh {
			.fresh-message {
				max-width: 15em;
			}
		}
	}
	.operations {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 0 2em;
		.fresh-message {
			margin: 3em 0 5em 0;
		}
		.add.fresh {
			font-size: 1.5em;
			display: block;
			margin: 1em auto;
			border: 1px solid darken($green, 30%);
			@include border-radius(.3em);
			padding: 1em;
			@include background(linear-gradient(lighten($green, 10%), darken($green, 10%)));
			@include box-shadow(0 2px 6px 0 rgba(0, 0, 0, .5));
			color: $bg;
			&:hover {
				@include background(linear-gradient(lighten($green, 5%), darken($green, 5%)));
			}
			&:active {
				@include background($green);
				@include box-shadow(none);
			}
		}
		.operations-list {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				@include inline-block;
				vertical-align: top;
			}
			.operation {
				@include inline-block;
				margin: 1em;
				width: 28em;
				min-height: 20em;
				background: #ffd;
				overflow: hidden;
				border: 1px solid transparentize($brown, .8);
				@include border-radius(.3em);
				padding: 1em;
				&.editing h1 {
					margin-top: 0;
				}
				h1 {
					border-bottom: 1px solid #330000;
					input[type=text] {
						margin-bottom: .5em;
					}
				}
				.edit {
					position: absolute;
					display: none;
				}
				time {
					display: block;
					text-align: right;
					padding-right: .5em;
				}
				input[type=date] {
					float: right;
					margin: 0 .5em .5em 0;
				}
				input[type=number] {
					width: 4em;
				}
				>input[type=checkbox] {
					position: absolute;
					display: none;
				}
				>input[type=checkbox]:checked {
					display: block;
				}
				&:hover .edit {
					@include inline-block;
				}
				&:hover>input[type=checkbox], {
					display: block;
				}
				.confirm-controls li {
					font-size: 1.2em;
				}
				.remove {
					margin-left: -1.5em;
				}
			}
		}	
	}
}