@import "palette";
@import "mixins";

* {
	box-sizing: border-box;
}
/**
* Vanilla CSS
*/

html {
	background: $bg;
	min-height: 100%;
	height: 100%;
}

/***************************************************************************************
* BODY ELEMENTS
***************************************************************************************/

body {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	color: $black;
	padding-top: 1px;	//to prevent margin-collapsing
	@include box-shadow(inset 0 1px 6px rgba(0, 0, 0, .2));
	@include background(linear-gradient(rgba(0, 0, 0, .1), transparent));
	background-size: 100% 200px;
	background-repeat: no-repeat;
	min-height: 100%;
}
div {}
hr {
	border: 0;
	border-bottom:1px solid $brown;
	box-shadow: 0 1px 0 0 #fff;
}
img {}
a {}

/***************************************************************************************
* HEADINGS
***************************************************************************************/

header {
	font-size: 1.2em;
	h1 {
		clear:left;
	}
}
/* All Headings */
#{headings()} {
	color: $brown;
	margin: .67em .4em .5em .4em;
	text-shadow: 0 1px 0 #fff;
}

/* Individual Headings */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/***************************************************************************************
* PARAGRAPHS
***************************************************************************************/

/* First Paragraph */
p {
	margin: 1em;
	text-indent: .7em;
}

/* Seccond Paragraph */
abbr {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
b {
}

/* Blockquote */
blockquote {
	margin-left: 2em;
	overflow: hidden;
	border: 1px solid $brown;
	border-left-width: 4em;
	min-height: 5em;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
	overflow: hidden;
	&:before {
		content: '“';
		font-size: 8em;
		position: absolute;
		margin-left: -.45em;
		color: $bg;
	}
}
cite {}

/* Third Paragraph */
dfn {
	font-weight: bold;
}
del {}
em {}
i {}
strong {
	color: $black;
}
ins {}
small {}

/* Quote */
q {}

/* Fourth Paragraph */
sub {}
sup {}

/***************************************************************************************
* LISTS
***************************************************************************************/

/* All Lists */
dl, ol, ul {}

/* Definition Lists */
dl {}
dt {}
dd {}

/* Ordered Lists */
ol {}
ol li {}

/* Unordered Lists */
ul {}
ul li {}

/***************************************************************************************
* FORMS
***************************************************************************************/

form {}
fieldset {}
legend {}
label {}

/* Inputs */
input {}
textarea {}

/* Other */
select {}
optgroup {}

/***************************************************************************************
* TABLES
***************************************************************************************/

table {
	width: 96%;
	margin: 1em 2%;
	color: $black;
	border-collapse: separate;
	border-spacing: .5em;
}
table .select-all {
	width: 1px;
}
caption {}
tr {}

/* Head */
thead {
}

thead .number {
	white-space: nowrap;
	width: 1px;
}
th {
	text-align: left;
	font-style: italic;
	border-bottom: 1px solid transparentize($brown, .6);
}

/* Body */
tbody {}
td {
	border-bottom: 1px dotted transparentize($brown, .4);
}
table .expandable.expanded td {
	border: 0;
}
table .expanded-content {
	background: rgba(0, 0, 0, .1);
}

/* Foot */
tfoot {}

/***************************************************************************************
* OTHER
***************************************************************************************/

address {}
code {}
samp {}
pre {}

kbd {}
var {}



















